.card {
  padding: 15px;

  background-color: rgb(214, 212, 210);
  width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.card:hover {
  transform: scale(1.05);
  background-color: rgb(168, 166, 164);
}
.image {
  margin-bottom: 25px;
}
.categories {
  margin-bottom: 15px;
}
.title {
  margin-bottom: 10px;
  font-weight: 700;
}
